.page-container{
    padding: 1rem;
}

.page-container .section{
    font-weight: bold;
}
.movies-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.movies-container .movies-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.movies-card:hover{
    transform: translate(-2px, -2px) rotate(-5deg) scale(1);

}

.movies-card .details{
    padding: 1rem;
}

.movies-card .details h4{
    font-size: 18px;
}

.movies-container .movies-card .img-container{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}
.movies-card .img-container img{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}